{% extends "base.html" %}

{% block conteudo %}

    <div class="container">
        <div class="row">
            {% for cliente in clientes %} 
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ cliente.nome }}</div>
                        <div class="panel-body">
                            <p>Profissão: {{ cliente.profissao }}</p>
                            <p>Data de Nascimento: {{ cliente.data_nascimento }}</p>
                            {% if cliente.endereco == None %}
                                <p>E-Endereço: Endereço não informado.</p>
                            {% else %}
                                <p>E-Endereço: {{ cliente.endereco }}</p>
                            {% endif %}
                            
                                                    </div>
                        <div class="panel-footer">
                            <a href="{% url 'atualizar' cliente.id %}">Editar</a>
                            <a href="{% url 'deletar' cliente.id %}">Deletar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock conteudo %}