{% extends "base.html" %}

{% block conteudo %}
    
    <h2>Clientes</h2>
    <div class="container">
        <div class="row">
            {% for cliente in clientes %} 
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ cliente.nome }}</div>
                        <div class="panel-body">
                            <p>Profissão: {{ cliente.profissao }}</p>
                            <p>Data de Nascimento: {{ cliente.data_nascimento }}</p>
                            {% if cliente.endereco == None %}
                                <p>E-Endereço: Endereço não informado.</p>
                            {% else %}
                                <p>E-Endereço: {{ cliente.endereco }}</p>
                            {% endif %}
                            
                                                    </div>
                        <div class="panel-footer">
                            <a href="{% url 'atualizar' cliente.id %}">Editar</a>
                            <a href="{% url 'deletar' cliente.id %}">Deletar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <hr>
    <h2>Usuários</h2>
    <div class="container">
        <div class="row">
            {% for usuario in usuarios %} 
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ usuario.username }}</div>
                        <div class="panel-body">
                            <p>Nome Completo: {{ usuario.first_name }} {{ usuario.last_name }}</p>
                            <p>E-mail: {{ usuario.email }}</p>
                          
                                                    </div>
                        {% comment %} <div class="panel-footer">
                            <a href="{% url 'atualizar' cliente.id %}">Editar</a>
                            <a href="{% url 'deletar' cliente.id %}">Deletar</a>
                        </div> {% endcomment %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock conteudo %}