{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>Lista</h1>

    <h3><a href="{% url 'index' %}">Cadastrar novo cliente</a></h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Nascimento</th>
            <th>E-mail</th>
            <th>Profissão</th>
        </tr>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{% url 'atualizar' cliente.id  %}">{{cliente.id}}</a></td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.data_nascimento}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.profissao}}</td>
                <td><a href="{% url 'deletar' cliente.id  %}">Deletar</a></td>
            </tr>
        {% empty %}
            <h2>Não há clientes cadastrados. </h2>
        {% endfor %}
    </table>
    
</body>

</html>